@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script:wght@400..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --primary-color: #02040F;
    --secondary-color: #FFDD99;
    --tertiary-color: #FFF1D6;
    --hover-color: #52001F;
    --shadow-color: #B39494;
    --primary-font: "Dancing Script", cursive;
    --second-font: "Architects Daughter", cursive;
}

/* Reset Css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);

    /*Generic project styles */
    color: var(--secondary-color);
    font-family: var(--second-font);
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: var(--primary-font);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--hover-color);
}

p {
    color: var(--tertiary-color);
}

.page-active {

    border-bottom: 2px solid var(--shadow-color);
    border-radius: 5px;

}

/* Header Style */
header img {
    margin-top: 5%;
    padding-left: 5%;
}

#img-logo {
    width: 100%;
    height: 3rem;
}

header {
    padding: 0 1rem;
    position: fixed;
    top: 0;
    z-index: 99;
    height: 53px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Give the header a shadow */
    box-shadow: 0 2px 2px var(--hover-color);
    /* Adicionei uma sombra para destacar o cabeçalho */
    background-color: black;
}

header a {
    text-decoration: none;
    color: var(--secondary-color)
}

#menu {
    padding-left: 3.5rem;
    padding-top: 0.5em;
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 0.25rem;
    padding: 0.25rem;
}

/*Nav styles with dropdown burger */

nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 1px 2px 2px var(--hover-color);
    background-color: var(--hover-color);
    display: none;
    top: 100%;
}

#nav-toglle:checked~nav {
    display: block;
}

/* Here to style to not appear the checkbox */
#nav-toglle {
    display: none;
}

.nav-burger {
    font-size: 2rem;
    padding-top: 15px;
}

/* Main - settings definitions to position */

main {
    /*Emerge main element to push footer down */
    flex: 1 0 auto;
    /*Add margin at the top to prevent content from being cover by the header */
    padding-top: 75px;
    top: 128px;

    /*Enable flex properties for child elemnts */
    display: flex;
    flex-direction: column;
}

/*Hero image section */
#hero-image {
    min-height: 36vh;
    max-width: 99vw;
    background: url('../images/hero-image.webp') no-repeat center right /cover;
    position: relative;
}

#hero-image h1 {
    margin-top: 5%;
    margin-left: 5%;
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: rgb(202, 180, 193);
}

/*Give to the hero image a cover text */
#hero-image__cover-text-title__text {
    /* Give the element horizontly position and vertical in the center*/
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    /* put the element in the center*/
    max-width: 600px;
    text-align: center;
    color: var(--secondary-color);
}

#hero-image__cover-text-title__text h4,
#hero-image__cover-text-title__text h5,
#hero-image__cover-text-title__text ul {
    /* give space between the elements */
    margin-bottom: 4px;
    font-size: 15px;
}

#hero-image__cover-text-title__text h5 {
    font-size: 1rem;
}

#hero-image__cover-text-title__text h4 {
    font-size: 0.8rem;
    color: var(--secondary-color);
    margin-top: 18px;
}

#hero-image__cover-text-title__text ul {
    /*Reset list */
    padding-left: 0;
    list-style-type: none;
}

#hero-image__cover-text-title__text ul li {
    margin-bottom: 5px;
}

/* button style in the hero section */
#hero-image__button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    font-family: var(--second-font);
    color: var(--primary-color);
    font-size: 0.8rem;
    padding: 2px;
    font-weight: 600;
    background-color: var(--secondary-color);
    width: 128px;
    height: 1.2rem;
    border-radius: 8px;
    font-size: 1rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-image__button a {
    /*Make button display to put the itens vertical position */
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

#hero-image__button i {
    padding: 6px;
    color: var(--hover-color);
}


.button:hover {
    border-bottom: 2px solid var(--shadow-color);
    background-color: var(--tertiary-color);
    border-radius: 5px;
}

/*About section */
#about-text {
    background-color: var(--primary-color);


}

#text1,
#text2 {
    max-width: 90%;
    margin-top: 0;

}

.heading-container {
    color: var(--shadow-color);
    font-family: var(--primary-font);
    font-size: 1.5rem;
    width: 200px;
    /* Ajusta a largura ao conteúdo */
    text-align: end;
    font-weight: bold;
    margin-top: 3rem;
    padding-bottom: 1rem;
    margin-left: 10%;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #FFDD99, #f8e1b5, #f5c564);
    /* Gradient  colors */
    border-image-slice: 1;
    border-radius: 10px;
    display: inline-block;
    line-height: 2;
}

.about-text__container__image {
    max-width: 80%;
    max-height: 85%;
    margin: 25px;
    padding-left: 18%;
    border: none;
    border-radius: 20px;
}

.text-paraghp {
    margin: 10px;
    padding-top: 10px;
    padding-left: 1rem;
    line-height: 1;
    max-width: 90%;
}

/*Services Section Style */
/*Create a card desing and prepare to the animation*/
.card {
    margin: 5%;
    padding-left: 10%;
    border-radius: 4px;
    box-shadow: 5px 5px 20px var(--hover-color);
    min-height: 300px;
    transition: opacity 0.3s ease;
    opacity: 1;
}

/*Effect when the mouse is hover to change the opacity */
.card:hover {
    transform: scale(1.08);
    /*Make the card biiger when hover*/
}

/*classe to create effect on the hover to the text */
a.link-button {
    text-decoration: none;
    display: inline-block;
    padding: 2px 20px;
    background-color: var(--hover-color);
    color: var(--primary-color);
    border: 2px solid var(--shadow-color);
    border-radius: 12px;
    /*transiction effect*/
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

/*changing the proprities when its hover */
a.link-button:hover {
    background-color: var(--shadow-color);
    color: var(--primary-color);
    border-color: var(--hover-color);
}

.card p {
    margin-top: 10px
}

.card img {
    max-width: 70%;
    margin-top: 15px;
    padding-left: 2rem;
    border-radius: 8px;
    min-height: 15rem;

}

/*style for the text about the cards*/
.intro h3 {
    color: var(--secondary-color);
}

.intro {
    margin-left: 12px;
    padding: 5%;
    text-align: justify;
}

#palm-reading .card>img {
    height: 100%;
    width: 100%;
}

.price {
    font-size: 1.2rem;
    /* Tamanho da fonte */
    color: var(--secondary-color);
    /* Cor do texto */
    font-weight: bold;
}

/*Testimonial section style*/

#testimonial-container {
    width: 90%;
}

.card-testimonial .user {
    width: 35%;
    max-height: 10rem;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card-testimonial {
    width: 90%;
    min-height: 300px;
    background-color: var(--primary-color);
    border-radius: 30px;
    border: 2px solid var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 40px;
    margin: 20px 2rem;
    box-shadow: 5px 5px 20px var(--hover-color);
}

.card-testimonial h3 {
    margin-bottom: 5px;
    color: var(--shadow-color);
}

/*  Location section style */
.location-text {
    display: flex;
    gap: 10px;
    padding-left: 10px;

}

/*style apply to the list with the hours open */
.time {
    height: 100px;
    max-width: 50%;
    padding-left: 25%;
}

.time h3 {
    padding-top: 15px;
    color: var(--shadow-color);
    padding-left: 30%;
    margin-bottom: 10px;
}

.time ul {
    list-style-type: none;
    border: 3px solid var(--shadow-color);
    box-shadow: 5px 5px 20px var(--hover-color);
    width: fit-content;
    padding: 10px;
}

.time ul li {
    color: var(--tertiary-color);
    padding: 5px;
}


.video-container {
    width: 100%;
    /* largura fixa */
    height: 400px;
    /* altura fixa */
    margin: 18% auto;
    /* centralizar o vídeo horizontalmente */
}

/* Estilo para o vídeo dentro do contêiner */
.video-container video {
    width: 100%;
    /* ocupar toda a largura do contêiner */
    height: 100%;
    /* ocupar toda a altura do contêiner */

}


/*Location */
.iframe-container {
    width: 100%;
    /* largura fixa */
    height: 200px;
    /* altura fixa */
    margin: 0 auto;
}

.iframe-container iframe {
    width: 100%;
    /* ocupar toda a largura do contêiner */
    height: 100%
}


/*Footer Style */
footer {
    padding: 15px;
    background-color: var(--hover-color);
}

#footer-social-media-contact {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    gap: 10%;

}

#footer-social-media-contact i {
    color: var(--secondary-color);
    font-size: 160%;
    padding: 5%;

}


.footer-social-media-contact__email>a {
    text-decoration: none;
    color: var(--shadow-color);

}

.footer-social-media-contact__email {
    display: flex;
    flex-direction: column;
    align-items: center;
}




/*Media query: tablets and larger(428px and up) */
@media screen and (min-width:428px) {

    /*Use the keyframes library to give rotation animation to the image
and create a classe for that to aply the style -- https://www.youtube.com/watch?v=eTELLTacg-8-- */

    @keyframes image-rotation-animation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .other-images {
        animation: image-rotation-animation 5s linear;
    }


    /*member page*/
    /*member form*/


    /*Make services -fields responsives adjustament each differents screens sizes */
    .services-fields>div {
        flex-basis: calc(50% - 10px);
    }
}

 

    /*Media query: tablets and larger(768px and up) */
@media screen and (min-width:768px) {
        /* Header */

    nav {
        display: block;
        position: relative;
        background-color: var(--primary-color);
        top: 0;
    }

    .nav-burger {
        display: none;
    }

    #menu {
        display: flex;
        justify-content: flex-end;
        padding: 0.25rem;
        gap: 1rem;

    }

    #menu li a {
        color: var(--secondary-color);
        margin-left: 4rem;
        font-size: 1.3rem;
    }

    #menu a {
        text-decoration: none;
    }


        /* Make the section servies responsive adopting GRID for a better layout*/
    #services {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Adjusted number of columns */
        grid-gap: 2rem;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .card {
        min-height: 60rem;
        padding: 1rem;
        margin: 3%;
    }

    .card img {
        max-width: 90%;
        min-height: 15rem;
        padding-left: 3rem;

    }

    .intro {
        min-height: 95px;
    }

    /*Testimonial cards responsive with GRID */
    #testimonial-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .card-center {
         margin-left: 12rem;
    }

    .services-fields {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .services-fields>div {
        flex-basis: calc(50% - 10px);
        margin-bottom: 10px;
    }
}

    /*Media query: laptops and larger(992px and up) */

@media screen and (min-width:992px) {
    header {
        height: 73px;
           
    }

    #img-logo {

        height: 4.3rem;
    }

    #menu a:hover {
        border-bottom: 2px solid var(--shadow-color);
        border-radius: 5px;
    }

    #menu {
        padding: 1rem;
        gap: 2.5rem;
    }

    #menu {
        padding: 1rem;
        gap: 2.5rem;
    }


    

    /* About-Section */
    .heading-container {
        margin-top: 3rem;
        margin-left: 650px;
        font-size: 25px;
    }

    #text1,
    #text2 {
        display: flex;
        flex-direction: row;
        width: 70%;
        gap: 18px;
     }

    .about-text__container__image {
        width: 100%;
        margin-left: 300px;
        padding-top: 7rem;
        min-height: 70%;
        margin-right: 5%;
            /* Adicione esta linha */
    }

    .text-paraghp {
        padding-left: 70px;
        font-size: 20px;
        line-height: 2;
        margin-top: 150px;

    }


    /*Services card layout for big screen */
    #services {
         margin-top: 40px;
         display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* Adjusted number of columns */
        grid-gap: 2rem;
        align-items: flex-start;
        justify-content: flex-start;
    }

    /*Make the testimonial section responsive using GRID for that*/
    #testimonial-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .card-testimonial {
         margin: 20px 3rem;
    }

    .card {
        min-height: 60rem;
        margin: 3%;
    }

    /*video -location section */

    .video-container video {
        padding-top: 10rem;

    }

}