@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script:wght@400..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --primary-color: #02040F;
    --secondary-color: #FFDD99;
    --tertiary-color: #FFF1D6;
    --hover-color: #52001F;
    --shadow-color: #B39494;
    --primary-font: "Dancing Script", cursive;
    --second-font: "Architects Daughter", cursive;
}

/* Reset Css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);

    /*Generic project styles */
    color: var(--secondary-color);
    font-family: var(--second-font);
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: var(--primary-font);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--hover-color);
}

p {
    color: var(--tertiary-color);
}

.page-active {

    border-bottom: 2px solid var(--shadow-color);
    border-radius: 5px;

}

/* Header Style */
header img {
    margin-top: 5%;
    padding-left: 5%;
}

#img-logo {
    width: 100%;
    height: 3rem;
}

header {
    padding: 0 1rem;
    position: fixed;
    top: 0;
    z-index: 99;
    height: 53px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Give the header a shadow */
    box-shadow: 0 2px 2px var(--hover-color);
    /* Adicionei uma sombra para destacar o cabeçalho */
    background-color: black;
}

header a {
    text-decoration: none;
    color: var(--secondary-color)
}

#menu {
    padding-left: 3.5rem;
    padding-top: 0.5em;
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 0.25rem;
    padding: 0.25rem;
}
/*Nav styles with dropdown burger */

nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 1px 2px 2px var(--hover-color);
    background-color: var(--hover-color);
    display: none;
    top: 100%;
}

#nav-toglle:checked~nav {
    display: block;
}

/* Here to style to not appear the checkbox */
#nav-toglle {
    display: none;
}

.nav-burger {
    font-size: 2rem;
    padding-top: 15px;
}

/* Main - settings definitions to position */

main {
    /*Emerge main element to push footer down */
    flex: 1 0 auto;
    /*Add margin at the top to prevent content from being cover by the header */
    padding-top: 75px;
    top: 128px;

    /*Enable flex properties for child elemnts */
    display: flex;
    flex-direction: column;
}
/*Hero image section */
#hero-image {
    min-height: 36vh;
    max-width: 99vw;
    background: url('../images/hero-image.webp') no-repeat center right /cover;
    position: relative;
}

#hero-image h1 {
    margin-top: 5%;
    margin-left: 5%;
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: rgb(202, 180, 193);
}

/*Give to the hero image a cover text */
#hero-image__cover-text-title__text {
    /* Give the element horizontly position and vertical in the center*/
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    /* put the element in the center*/
    max-width: 600px;
    text-align: center;
    color: var(--secondary-color);
}

#hero-image__cover-text-title__text h4,
#hero-image__cover-text-title__text h5,
#hero-image__cover-text-title__text ul {
    /* give space between the elements */
    margin-bottom: 4px;
    font-size: 15px;
}

#hero-image__cover-text-title__text h5 {
    font-size: 1rem;
}

#hero-image__cover-text-title__text h4 {
    font-size: 0.8rem;
    color: var(--secondary-color);
    margin-top: 18px;
}

#hero-image__cover-text-title__text ul {
    /*Reset list */
    padding-left: 0;
    list-style-type: none;
}

#hero-image__cover-text-title__text ul li {
    margin-bottom: 5px;
}

/* button style in the hero section */
#hero-image__button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    font-family: var(--second-font);
    color: var(--primary-color);
    font-size: 0.8rem;
    padding: 2px;
    font-weight: 600;
    background-color: var(--secondary-color);
    width: 128px;
    height: 1.2rem;
    border-radius: 8px;
    font-size: 1rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-image__button a {
    /*Make button display to put the itens vertical position */
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

#hero-image__button i {
    padding: 6px;
    color: var(--hover-color);
}


.button:hover {
    border-bottom: 2px solid var(--shadow-color);
    background-color: var(--tertiary-color);
    border-radius: 5px;
}

/*About section */
#about-text {
    background-color: var(--primary-color);


}

#text1,
#text2 {
    max-width: 90%;
    margin-top: 0;

}

.heading-container {
    color: var(--shadow-color);
    font-family: var(--primary-font);
    font-size: 1.5rem;
    width: 200px;
    /* Ajusta a largura ao conteúdo */
    text-align: end;
    font-weight: bold;
    margin-top: 3rem;
    padding-bottom: 1rem;
    margin-left: 10%;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #FFDD99, #f8e1b5, #f5c564);
    /* Gradient  colors */
    border-image-slice: 1;
    border-radius: 10px;
    display: inline-block;
    line-height: 2;
}

.about-text__container__image {
    max-width: 80%;
    max-height: 85%;
    margin: 25px;
    padding-left: 18%;
    border: none;
    border-radius: 20px;
}

.text-paraghp {
    margin: 10px;
    padding-top: 10px;
    padding-left: 1rem;
    line-height: 1;
    max-width: 90%;
}


/*Footer Style */
footer {
    padding: 15px;
    background-color: var(--hover-color);
}

#footer-social-media-contact {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    gap: 10%;

}

#footer-social-media-contact i {
    color: var(--secondary-color);
    font-size: 160%;
    padding: 5%;

}


.footer-social-media-contact__email>a {
    text-decoration: none;
    color: var(--shadow-color);

}

.footer-social-media-contact__email {
    display: flex;
    flex-direction: column;
    align-items: center;
}


    /*Media query: tablets and larger(768px and up) */
@media screen and (min-width:768px) {
        /* Header */

    nav {
        display: block;
        position: relative;
        background-color: var(--primary-color);
        top: 0;
    }

    .nav-burger {
        display: none;
    }

    #menu {
        display: flex;
        justify-content: flex-end;
        padding: 0.25rem;
        gap: 1rem;

    }

    #menu li a {
        color: var(--secondary-color);
        margin-left: 4rem;
        font-size: 1.3rem;
    }

    #menu a {
        text-decoration: none;
    }
}
 /*Media query: laptops and larger(992px and up) */
@media screen and (min-width:992px) {
    header {
        height: 73px;
           
    }

    #img-logo {

        height: 4.3rem;
    }

    #menu a:hover {
        border-bottom: 2px solid var(--shadow-color);
        border-radius: 5px;
    }

    #menu {
        padding: 1rem;
        gap: 2.5rem;
    }

    #menu {
        padding: 1rem;
        gap: 2.5rem;
    }
}